<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.phonenumber %>
</p>

<p>

<strong>
  Please Enter the verification code you received at <%= @user.phonenumber %>,
  <%= form_tag user_path(@user), :method => :put do   %>
    here: <%= text_field_tag :code %>
  <% end %>
</strong>

</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
