<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.phonenumber %>
</p>

<p>
<strong>
  Enter the code you received at <%= @user.phonenumber %> below
  <%= form_tag @user, url: user_path(@user.id), :method => :put  %>
          <%= text_field_tag 'code' %>
          <%= submit_tag 'Submit'%>
</strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
